/// <reference path="../utilities/vendors/include-media.scss" />
/// <reference path="../utilities/variables.scss" />
/// <reference path="../utilities/animation.scss" />
/// <reference path="../utilities/mixins/mixins.scss" />

.section__contentslider {
    position: relative;
    overflow: hidden;

    iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:last-of-type {
        padding-bottom: 0;
    }

    .slider__wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        height: 845px;
        background-position: center center;
        background-size: cover;
    }

    .slider__wrapper-item {
        height: 100%;
        /*&.slick-active .container {
            display: flex;
            animation-name: fadein;
            animation-duration: 1s;
            opacity: 1;
        }*/
    }

    .slider__content {
        width: 50%;
        color: $c-white;

        &.text__shadow {
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
        }

        &.dark {
            color: #495662;

            &.text__shadow {
                text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
            }
        }
    }


    .container {
        width: 100%;
        height: 100%;
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .heading {
        color: inherit;
        margin-bottom: 15px;
    }

    .subheading {
        font-family: $basefont;
        color: inherit;
        font-weight: normal;
        margin-bottom: 25px;
    }

    p {
        color: inherit;
        font-weight: normal;
    }

    .button {
        display: inline-block;
        margin-top: 10px;
    }

    .slick-dots {
        position: absolute;
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        @include reset-list;

        li {
            margin: 0 0.25rem;
        }

        button {
            display: block;
            width: 17px;
            height: 17px;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $c-white;
            text-indent: -9999px;

            &:focus {
                outline: none;
            }
        }

        li.slick-active button {
            background-color: #ec2d34 !important;
            width: 55px;
            border-radius: 25px;
        }

        &.dark {
            button {
                background-color: #495662;
            }
        }
    }

    @include media(">1520px") {
        .container {
            max-width: calc(100% - 380px);
        }
    }


    @include media("<1200px") {

        .slider__content {
            width: 80%;
        }
    }

    @include media("<md") {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        &:last-of-type {
            padding-bottom: 0;
        }

        .slider__content {
            width: 100%;
        }
    }

    @include media("<sm") {

        .slider__wrapper {
            height: auto;
        }
    }
}


