/// <reference path="../utilities/vendors/include-media.scss" />
/// <reference path="../utilities/variables.scss" />
/// <reference path="../utilities/mixins/mixins.scss" />

.section__pods {
    padding-top: 35px;
    padding-bottom: 35px;

    a:hover {
        text-decoration: none;
    }

    .row {
        justify-content: center;
    }

    .heading {
        margin-bottom: 30px;
        text-align: center;
    }

    .pull-left {
        text-align: left !important;
    }

    h4 {
        font-weight: $semibold;
    }

    p.heading {
        font-family: $basefont;
        font-weight: $semibold !important;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 12px;
        text-align: inherit;
    }

    .pods {
        &__lists {
            @include reset-list;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-right: -30px;
            margin-left: -30px;

            .pods__item:hover {
                &.pods__item--bordered .pods__item--wrapper {
                    box-shadow: 0px 0px 8px 2px lightgrey;
                }
            }
        }

        &__item--wrapper {
            position: relative;
            display: flex;
            flex-flow: column;
            transition: all $dur-1 ease-in;
        }


        &__lists--2 {
            .pods__item {
                width: 50%;

                .pods__image picture {
                    height: 305px;
                }
            }

            &.lists__2--small {
                .pods__item {
                    .pods__image picture {
                        height: 200px;
                    }
                }
            }
        }

        &__lists--3 .pods__item {
            width: 33.33333%;
        }

        &__lists--4 .pods__item {
            width: 25%;

            .pods__image picture {
                height: 200px;
            }
        }

        &__item {
            overflow: hidden;
            padding: 0 15px 30px;


            &.no-zoom {
                .pods__image:hover picture {
                    transform: scale(1);
                }
            }
        }

        &__item--bordered {
            .pods__item--wrapper {
                border-radius: 3px;
                height: 100%;
            }

            .pods__content {
                padding: 15px;
            }
        }

        &__image {
            overflow: hidden;
            border-radius: 5px;

            &:hover picture {
                transform: scale(1.1);
            }

            picture {
                width: 100%;
                height: 250px;
                overflow: hidden;
                display: flex;
                transition: transform $dur-1 ease-in;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }


    small {
        font-style: italic;
        font-weight: $semibold;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 10px;
        color: $bg-dark;
    }

    .pods__text {
        font-family: $opensans;
        padding-top: 25px;

        a {
            display: block;
            margin-bottom: 10px;
            color: $bg-green;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .content {
        &__top {
            .pods__text {
                order: -1;
                padding: 0 0 25px;
            }
        }

        &__mid {

            .pods__text {
                position: absolute;
                top: auto;
                bottom: 20px;
                left: 0;
                right: 0;
                width: 100%;
                text-align: center;
                padding: 0 15px;
                text-shadow: 1px 1px 6px #000;
                padding-bottom: 20px;

                a, p {
                    color: $c-white;
                }

                h4 {
                    font-weight: $semibold;
                    color: $c-white;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .pods__lists--3,
    .pods__lists--4 {
        .content__mid {

            .pods__text {
                a {
                    font-size: 14px;
                    margin-bottom: 0;
                }

                h4 {
                    font-size: 24px;
                    margin-bottom: 0;
                }

                p {
                    font-size: 16px;
                    line-height: 1.3;
                }
            }
        }
    }



    @include media("<md") {

        .pods {

            &__lists--2 .pods__item {
                .pods__image {
                    picture {
                        height: 250px;
                    }
                }
            }

            &__lists--3,
            &__lists--4 {
                .pods__image {
                    picture {
                        height: 200px;
                    }
                }
            }

            &__lists--4 .pods__item {
                flex-basis: 50%;
            }
        }
    }


    @include media("<sm") {
        p.heading {
            font-size: 28px !important;
            line-height: 1.3 !important;
        }

        .pods {

            &__lists--2 .pods__item {
                .pods__image {
                    picture {
                        height: 200px;
                    }
                }
            }

            &__image picture {
                height: 200px;
            }


            &__lists--2,
            &__lists--3,
            &__lists--4 {
                .pods__item {
                    flex-basis: 100%;
                }
            }
        }

        .content__mid .pods__text {
            padding-bottom: 0;
        }
    }
}
